.Loader-align{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.heading{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: rgb(232, 243, 254);
    border: 10px solid rgb(193, 224, 251);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}


.Userpage-alignment{
    border: 10px solid rgb(193, 224, 251);
    height: 88vh;
}


.message-box1{
    display: flex;
    gap: 10px;
    padding: 5px 15px;
    align-items: center;
    border: 1px solid  #cdddfe;
    /* box-shadow: 0.5px 0.5px 2px grey; */
}


.message-box1:hover{
    background-color: rgb(232, 243, 254);
}


